@font-face {
    font-family: "Adwaita";
    src: url("../fonts/AdwaitaSans-Regular.ttf");
}

html {
    background-color: var(--body-bkg-color);
    font-family: 'Adwaita', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
  }

  body {
    /*margin: 3vw 0;*/
    min-height: 100%;
    padding: 5%;
    line-height: 1.5;
    color: var(--white-color);
  }

  h1 {
    color: var(--theme-color);
    font-size: 350%;
  }

  h3 {
    font-size: 150%;
  }

  h4 {
    font-size: 120%;
  }

  p {
    font-size: 120%;
  }

  * {
    box-sizing: border-box;
  }

  #footer{
    display: block;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 80%;
    background-color: var(--sidebar-bkg-color);
    border-radius : 15px;
    margin-top: 5vh;
    padding: 0;
    .icon {
      position: relative;
      top: 3px;
      transform: scale(1.5);
    }
    a {
      background-color: var(--icon-bkg-color);
      font-family: monospace;
      padding: 3px 3px;
      border-radius: 3px;
      background-image: none;
    }
  }

  /* nav styles */

  .side-bar {
    display: block;
    border-radius: 15px;
    position: fixed;
    top: 7.5%;
    float: left;
    width: 25%;
    background: none;
    background-color: var(--sidebar-bkg-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .side-bar img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 50%;
    width: 70%;
    height: 70%;
  }

  .side-bar img:hover {
    transform: scale(1.01);
  }

  .side-bar p{
    text-align: center;
    font-weight: bold;
    font-size: 180%;
    color: var(--theme-color);
    padding: 3% 0 0 0.5%;
  }

  .side-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .side-bar ul li {
    width: 100%;
    padding: 3%;
    text-align: center;

  }

  .side-bar a {
    text-align: center;
    padding: 3% 10%;
    text-decoration: none;
    font-size: 1.2rem;
    color : var(--content-link-color);
    background-color: var(--sidebar-bkg-color);
    border-radius: 30px;
  }

  .side-bar a:hover {
    color : var(--white-color);
    background-color: var(--body-bkg-color);
  }


  .side-bar a:active{
    font-size : 1.5rem;
  }

  .content {
    display: block;
    float: right;
    min-height: 100%;
    width: 70%;
    padding-left: 5%;
    margin-bottom: 7.5%;

    a {
      color: var(--content-link-color);
      text-decoration: none;
      background-image: url(../icons/link.svg);
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 0.8em;
      padding-right: 0.8em;
    }
    a:visited{
      color: var(--content-link-visited-color);
      text-decoration: underline;
    }

    .center-image{
      margin-top: 3%;
      text-align: center;
    }

    .center-image-img{
        border-radius: 1%;
        width: 70%;
    }

    .image-caption{
      text-align: center;
      font-size: 90%;
    a {
      background-color: var(--icon-bkg-color);
      font-family: monospace;
      padding: 3px 3px;
      border-radius: 3px;
      background-image: none;
    }
    }
  }

.project-cards{
  display: flex;
  justify-content: center;
  gap: 6%;
  flex-wrap: wrap;
  width: 100%;
}

.project-cards a {
    padding-right: 0;
    text-align: center;
    background-color: var(--sidebar-bkg-color);
    width: 25.333%;
    height: 50%;
    min-width: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: none;
    margin: 5% 0;
  }

.project-cards a:hover{
  transform: scale(105%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.25);
}

.project-thumbnail {
  position: relative;
  padding : 1%;
  border-radius: 50%;
  width: 70%;
  height: 70%;
}

.paper-link{
  margin: 2% 0;
  width: 100%;
  /*background-color: var(--sidebar-bkg-color);*/


}

.paper-link a{
  display: flex;
  background-image: none;
  justify-content: center;
  padding: 0;
  color: var(--content-link-visited-color);
  line-height: 1;
}

.paper-card{
  padding: 0;
  width: 90%;
  background-color: var(--sidebar-bkg-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    h4 {
    color: var(--content-link-visited-color)
  }
  p {
    color: var(--content-link-color)
  }
}

.paper-title {
  padding: 0;
  float: right;
  width: 80%;
}

.paper-year {
  width: 15%;
  padding: 0 4%;
  min-width: 100px;
  text-align: right;
  float: left;
  height: 100%;
  background-color: var(--icon-bkg-color);
  color: var(--content-link-color);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.paper-link .paper-card:hover{
  transform: scale(105%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .threelines {
    cursor: pointer;
    width: 10%;
  }

  .threelines .line {
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: var(--theme-color);
  }

  .side-bar {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
    position: sticky;
  }

  .side-bar a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color : var(--theme-color);
    background-color: var(--sidebar-bkg-color);
  }

  .side-bar a:hover,
  .side-bar a:focus {
    color : var(--white-color);
    background-color: var(--body-bkg-color);
  }

  .expanded {
    display: unset;
  }

  .content {
    display: block;
    min-height: 100%;
    width: 90%;
  }



  .paper-title {
    padding: 0;
    float: right;
    width: 60%;
  }


}


.social-logos {
    display: flex;
    justify-content: center;
    padding: 1% 0;
    margin: 1% 1%;
  a {
    color: var(--content-link-color);
    background-color: var(--icon-bkg-color);
    text-decoration: none;
    padding: 7%;
    margin: 2%;
    border-radius: 50%;
  }
  .social-icon{
    position: absolute;
    transform: translate(-50%, -50%) scale(170%);
  }
}
