:root {
    --hdr-ftr-bkg-color : #212C33;
    --body-bkg-color : #28353C;
    --theme-color : #F4C430;
    --white-color : #FFFFFF ;
    --icon-bkg-color : #1F1F1F;
    --content-link-visited-color: #00AB41;
    --content-link-color: #ABF7B1;
}