:root {
    --sidebar-bkg-color : #0D0802;
    --body-bkg-color : #1A1004;
    --theme-color : #FF9933;
    --white-color : #FFFFFF ;
    --icon-bkg-color : #1A1004 ;
    --content-link-visited-color: #00AB41;
    --content-link-color: #ABF7B1;
}