---
import BaseLayout from "../layouts/BaseLayout.astro";

const tabTitle = "Arvind's Hobbies"
const pageTitle = "Hobbies"
---

<BaseLayout tabTitle={tabTitle} pageTitle={pageTitle}>
    <h3>Things I like to do in my free time...</h3>
    <div class="iast">
        oṃ śrī gurubhyo namaḥ
    </div>   
</BaseLayout>