---
import BaseLayout from "../layouts/BaseLayout.astro"

const tabTitle = "Arvind's Publications"
const pageTitle = "Publications"
---
<BaseLayout tabTitle={tabTitle} pageTitle={pageTitle}>
    <h3>A selected list of publications that I have contributed to...</h3>

    <!--Use format in NASA ADS to get the data 
    <div class="paper-link">\n\t<a href="%u">\n\t\t <div class="paper-card">\n\t\t <div class="paper-year">\n\t\t\t <h3> %Y </h3>\n\t\t\t<h4> %q </h4> \n\t\t</div>\n\t\t<div class="paper-title">\n\t\t\t<h4>%T</h4> \n\t\t\t<p>%4.1l %Y, %J, %V, %p </p> \n \t\t </div> \n\t </div>\n\t</a>\n </div>\n 
    -->
<div class="paper-link">
    <a href="https://ui.adsabs.harvard.edu/abs/2025arXiv250703113B">
         <div class="paper-card">
         <div class="paper-year">
             <h3> 2025 </h3>
            <h4> arXiv </h4> 
        </div>
        <div class="paper-title">
            <h4>Continued radio observations of the persistent radio source associated with FRB20190520B provides insights into its origin</h4> 
            <p>Balasubramanian, A., Bhardwaj, M., & Tendulkar, S. P. 2025, arXiv e-prints, arXiv:2507.03113 </p> 
          </div> 
     </div>
    </a>
 </div>
 
<div class="paper-link">
    <a href="https://ui.adsabs.harvard.edu/abs/2025PASP..137h4202B">
         <div class="paper-card">
         <div class="paper-year">
             <h3> 2025 </h3>
            <h4> PASP </h4> 
        </div>
        <div class="paper-title">
            <h4>Constraining the Nature and Long-term Stability of FRB 20121102A's Persistent Radio Source</h4> 
            <p>Bhardwaj, M., Balasubramanian, A., Kaushal, Y., & Tendulkar, S. P. 2025, Publications of the Astronomical Society of the Pacific, 137, 084202 </p> 
          </div> 
     </div>
    </a>
 </div>


<div class="paper-link">
    <a href="https://ui.adsabs.harvard.edu/abs/2024arXiv241100350B">
         <div class="paper-card">
         <div class="paper-year">
             <h3> 2024 </h3>
            <h4> arXiv </h4> 
        </div>
        <div class="paper-title">
            <h4>X-ray and Radio Campaign of the Z-source GX 340+0 II: the X-ray polarization in the normal branch</h4> 
            <p>Bhargava, Y., et al. 2024, arXiv e-prints, arXiv:2411.00350 </p> 
          </div> 
     </div>
    </a>
 </div>

<div class="paper-link">
    <a href="https://ui.adsabs.harvard.edu/abs/2024arXiv240519324B">
         <div class="paper-card">
         <div class="paper-year">
             <h3> 2024 </h3>
            <h4> arXiv </h4> 
        </div>
        <div class="paper-title">
            <h4>X-ray and Radio campaign of the Z-source GX 340+0: discovery of X-ray polarization and its implications</h4> 
            <p>Bhargava, Y., et al. 2024, arXiv e-prints, arXiv:2405.19324 </p> 
          </div> 
     </div>
    </a>
 </div>

<div class="paper-link">
    <a href="https://ui.adsabs.harvard.edu/abs/2024AJ....168...87L">
         <div class="paper-card">
         <div class="paper-year">
             <h3> 2024 </h3>
            <h4> AJ </h4> 
        </div>
        <div class="paper-title">
            <h4>CHIME/FRB Outriggers: KKO Station System and Commissioning Results</h4> 
            <p>Lanman, A. E., et al. 2024, The Astronomical Journal, 168, 87 </p> 
          </div> 
     </div>
    </a>
 </div>

    
    <div class="paper-link">
        <a href="https://ui.adsabs.harvard.edu/abs/2023ApJ...952...86S">
        <div class="paper-card">
            <div class="paper-year">
                <h3> 2023 </h3>
                <h4> ApJ </h4> 
            </div>
            <div class="paper-title">
            <h4>SN2019wxt: An Ultrastripped Supernova Candidate Discovered in the Electromagnetic Follow-up of a Gravitational Wave Trigger</h4> 
                <p>Shivkumar, H., et al. 2023, The Astrophysical Journal, 952, 86 </p> 
             </div>
        </div>
        </a>
     </div>
    
    <div class="paper-link">
        <a href="https://ui.adsabs.harvard.edu/abs/2022ApJ...938...12B">
        <div class="paper-card">
            <div class="paper-year">
                <h3> 2022 </h3>
                <h4> ApJ </h4> 
            </div>
            <div class="paper-title">
            <h4>GW170817 4.5 Yr After Merger: Dynamical Ejecta Afterglow Constraints</h4> 
                <p>Balasubramanian, A., et al. 2022, The Astrophysical Journal, 938, 12 </p> 
             </div>
        </div>
        </a>
     </div>
    
    <div class="paper-link">
        <a href="https://ui.adsabs.harvard.edu/abs/2021ApJ...923...32B">
        <div class="paper-card">
            <div class="paper-year">
                <h3> 2021 </h3>
                <h4> ApJ </h4> 
            </div>
            <div class="paper-title">
            <h4>Radio Observations of SN2004dk with VLITE Confirm Late-time Rebrightening</h4> 
                <p>Balasubramanian, A., et al. 2021, The Astrophysical Journal, 923, 32 </p> 
             </div>
        </div>
        </a>
     </div>
    
    <div class="paper-link">
        <a href="https://ui.adsabs.harvard.edu/abs/2021ApJ...922..154M">
        <div class="paper-card">
            <div class="paper-year">
                <h3> 2021 </h3>
                <h4> ApJ </h4> 
            </div>
            <div class="paper-title">
            <h4>The Panchromatic Afterglow of GW170817: The Full Uniform Data Set, Modeling, Comparison with Previous Results, and Implications</h4> 
                <p>Makhathini, S., et al. 2021, The Astrophysical Journal, 922, 154 </p> 
             </div>
        </div>
        </a>
     </div>
    
    <div class="paper-link">
        <a href="https://ui.adsabs.harvard.edu/abs/2021ApJ...914L..20B">
        <div class="paper-card">
            <div class="paper-year">
                <h3> 2021 </h3>
                <h4> ApJL </h4> 
            </div>
            <div class="paper-title">
            <h4>Continued Radio Observations of GW170817 3.5 yr Post-merger</h4> 
                <p>Balasubramanian, A., et al. 2021, The Astrophysical Journal, 914, L20 </p> 
             </div>
        </div>
        </a>
     </div>
    
    <div class="paper-link">
        <a href="https://ui.adsabs.harvard.edu/abs/2017Sci...358.1559K">
        <div class="paper-card">
            <div class="paper-year">
                <h3> 2017 </h3>
                <h4> Sci </h4> 
            </div>
            <div class="paper-title">
            <h4>Illuminating gravitational waves: A concordant picture of photons from a neutron star merger</h4> 
                <p>Kasliwal, M. M., et al. 2017, Science, 358, 1559 </p> 
             </div>
        </div>
        </a>
     </div>
    
    <div class="paper-link">
        <a href="https://ui.adsabs.harvard.edu/abs/2017ApJ...848L..12A">
        <div class="paper-card">
            <div class="paper-year">
                <h3> 2017 </h3>
                <h4> ApJL </h4> 
            </div>
            <div class="paper-title">
            <h4>Multi-messenger Observations of a Binary Neutron Star Merger</h4> 
                <p>Abbott, B. P., et al. 2017, The Astrophysical Journal, 848, L12 </p> 
             </div>
        </div>
        </a>
     </div>
    
      
    
          
    <p> For other articles that I have contributed to, please visit my NASA ADS page linked on the side bar.</p>         
</BaseLayout>
