---
import BaseLayout from "../layouts/BaseLayout.astro"

const tabTitle = "Arvind's Publications"
const pageTitle = "Publications"
---
<BaseLayout tabTitle={tabTitle} pageTitle={pageTitle}>
    <h3>A selected list of publications that I have contributed to..</h3>
    <p> This page is under construction. Please use the NASA ads link on the side bar to look up my publications.</p>
</BaseLayout>