---
import { Icon } from 'astro-icon/components';

/*const now = await getEntry("now", "now");
const { Content, remarkPluginFrontmatter } = await now.render();*/
---

<div id="footer">
  <p>Developed by Arvind Balasubramanian using <a href="https://astro.build/", target="_blank">Astro <Icon class="icon" name="astro"></a>.</p>
</div>