---
import { Icon } from 'astro-icon/components';
---

<div id="footer">
  <p>Developed by Arvind Balasubramanian using <a href="https://astro.build/", target="_blank">Astro <Icon class="icon" name="astro"></a>.</p>
  
</div>