---
import BaseLayout from "./BaseLayout.astro"

const { frontmatter } = Astro.props;
---

<BaseLayout tabTitle={frontmatter.title} pageTitle={frontmatter.title}>
	<h3>{frontmatter.description}</h3>
	<slot />
</BaseLayout>	
